// Add your own CSS here!

:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  //original highlighted: #f5dfaf88
  --highlighted: gold; 
  --blockquote: seagreen; // original black - tried #8b7929 - seagreen pretty good
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --dark: #fbfffe !important;
  --secondary: #6b879a !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
//original-> gray: #d4d4d4 !important; 
// this is the color of text in dark mode
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
//original highlighted: #574010
  --highlighted: teal; 
  --blockquote: #cbb44f !important; // original - teal
}

// style for bold and italic combined
// https://www.w3schools.com/css/css_combinators.asp
// > means the following are children or inside the preceding
// + means the second element is directly after the first

// b,
// strong {
//   font-weight:bolder
// }
// p > em + strong {
//    font-family: var(--font-body);
//    color: var(--highlighted);
//  }

// Added subtitle class

.subtitle {
	float: left;
	margin-top: -2px;
	margin-left: 3px;
	font-family: var(--font-body);
//	font-style: oblique;
}

// Added to allow resize and justification of images.

img[src$='right']{
    float: right;
    margin-top:  .4rem;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
}

img[src$='left']{
    float: left;
    margin-top:  .4rem;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
}

img[src$='#right50']{
    float: right;
    margin-top:  .4rem;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 50%;
    position: relative;
}

img[src$='#left50']{
    float: left;
    margin-top:  .4rem;
    margin-right: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 50%;
    position: relative;
}


img[src$='#right33']{
    float: right;
    margin-top:  .4rem;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 33%;
    position: relative;
}

img[src$='#left33']{
    float: left;
    margin-top:  .4rem;
    margin-right: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 33%;
    position: relative;
}
//Code an icon for external links - it only shows up in black - making it impossible to see dark mode.
// From https://christianoliff.com/blog/styling-external-links-with-an-icon-in-css/
// this applies in everything inside "article" - the container for all content on the page.
// I added vertical-align: super; to make it appear above the line.
// This icon is black - I need a white version for dark mode
// "currentcolor" is supposed to account for dark/light mode changes but it's not working
article a[href^="http"]::after,
article a[href^="https://"]::after
{
  content: "";
  width: 11px;
  height: 11px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  vertical-align: super;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
// The button shortcode calls this class to style a button that will serve as a link

a.markdown-btn {
  font-size: inherit;
  font-family: var(--font-body);
  color: var(--font-color);
  background-color: teal;
  border-radius: 10px;
  text-align: center;
  padding: 5px 1em 5px 1em;
  text-decoration: none;
  border: none;
  cursor: pointer;

  &:hover,
  
// this section doesn't have any effect 
  &:active {
    text-decoration: none;
    background-color: #009999;
    color: yellow;
  }
}
